/****************** AJAX LOADER *******************/
.loader-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.8;

    .ajax-loader {
        position: absolute;
        left:0;
        right:0;
        top: 50%;
        transform: translateY(-50%);
        margin-left:auto;
        margin-right:auto;
        display: block;
    }
}
/****************** END AJAX LOADER *******************/


//Create Menu Item
.modal-form-menu-item{


    h2{

    }


    .modal-content-menu-item{

        .row{

            .form-group{

                .form-control{
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid #ddd;
                    margin-bottom: 26px;
                    padding: 15px;
                    font-size: 14px;
                }


                .btn-save{

                }

                .btn-reset{

                }


            }

        }

    }



}


.list-menu-items{

}
