/**************************** BLOCK MANUFACTURER ************************************/
.block-manufacturer {
    padding-top: 60px;

    .header-block-manufacturer {
        margin-left: 14px;

        h2 {


        }
    }


    /********** Slider owl Carousel ********/
    .block-slider-manufacturer {

        .owl-carousel {

            /*** Owl Dots Navigation ***/
            .owl-dots {
                left: initial;
                right: 0px;

                .owl-dot {

                }

                .owl-dot.active {

                }

            }

            /*** End Owl Dots Navigation ***/


        }

    }

    /********** End Slider owl Carousel ********/


}
/**************************** END BLOCK MANUFACTURER ************************************/
