/****************************** BREADCRUMBS *******************************/
.block-breadcrumbs {

    .container {
        display: flex !important;
        height: 100% !important;

        .breadcrumb {
            padding: 0px;
            align-self: center !important;
            padding-left: 35px !important;
            margin-bottom: 0px;

        }
    }


}
/****************************** END BREADCRUMBS *******************************/
