/**************************** FOOTER ************************************/
.footer {

    /*********  Footer Top Block *********/
    .footer-top-block {
        padding-top: 43px;
        padding-bottom: 34px;

        .block-footer-contacts {
            left: 0px;
            border-bottom: 1px solid #58656A;
            padding-bottom: 34px;

            .link-footer-logo {
                display: inline-block;
                margin-left: 4px;
            }


            /***** Footer Contacts *****/
            .footer-contacts {
                margin-top: 0px;

                .footer-phone {
                    margin-top: 0px;
                    margin-left: 0px;
                    padding-left: 39px;
                    padding-top: 14px;
                    order: 2;
                }

                .footer-email {
                    margin-top: 0px;
                    margin-left: 0px;
                    padding-left: 45px;
                    padding-top: 16px;
                    order: 1;
                }

            }

            /***** End Footer Contacts *****/

        }


        /***************** Default Style Footer Menu *****************/
        .footer-menu {
            margin-top: 43px;

            .list-footer-menu {

                .item-list-footer-menu {

                    .link-item-list-footer-menu {

                    }

                }

            }
        }

        /***************** End Default Style Footer Menu *****************/


        /******* Footer Menu 1 *******/
        .footer-menu1 {
            margin-left: 42px;

            .list-footer-menu {

                .item-list-footer-menu {

                    .link-item-list-footer-menu {

                    }

                }

            }

        }

        /******* End Footer Menu 1 *******/


        /******* Footer Menu 2 *******/
        .footer-menu2 {
            margin-left: 34px;

            .list-footer-menu {

                .item-list-footer-menu {

                    .link-item-list-footer-menu {

                    }

                }

            }

        }

        /******* End Footer Menu 2 *******/


        /******* Footer Menu 3 *******/
        .footer-menu3 {
            margin-left: 29px;

            .list-footer-menu {

                .item-footer-menu {

                    .link-item-footer-menu {

                    }

                }

            }

        }

        /******* End Footer Menu 3 *******/

    }

    /*********  End Footer Top Block *********/


    /*********  Footer Bottom Block *********/
    .footer-bottom-block {
        padding-bottom: 26px;
    }

    /*********  End Footer Bottom Block *********/


}
/**************************** END FOOTER ************************************/
